In [26]:
import pandas

In [3]:
patients = pandas.read_csv('csv_data/patients.csv') # this will take a minute

In [30]:
patient_counts = pandas.read_csv('csv_data/patient_counts.csv')

In [51]:
icd_codes = pandas.read_csv('csv_data/icds.csv')

In [28]:
patients

            PID    ICD  SEX  AGE
0         erlra   5243    2   23
1         erlra   7080    2   23
2         erlsa    460    1   34
3         eihya    462    2   14
4         eihya   4659    2   14
5         eihya   4619    2   15
6         eihya   4619    2   15
7         eihya  38102    2   15
8         eihya  38102    2   15
9         eihya   4619    2   15
10        eihya   4619    2   15
11        eihya   3829    2   15
12        eihya   4619    2   15
13        eihya   4619    2   15
14        eihya  38102    2   15
15        eihya   4619    2   15
16        eihya   6982    2   15
17        eihya   9150    2   15
18        qzwib   4659    2   27
19        qzwib  46619    2   27
20        qzwib    463    2   27
21        qzwib  46619    2   27
22        qzwib     90    2   27
23        qhtmb   5640    2   77
24        qhtmb   5640    2   77
25        qhtmb   4659    2   77
26        qhtmb   5640    2   77
27        qhtmb   5280    2   77
28        qhtmb   5282    2   77
29        qhtmb   5230    2   77
...         ...    ...  ...  ...
39784038  tudzz    539    2   26
39784039  tudzz   2780    2   26
39784040  tudzz  24290    2   26
39784041  tudzz  24200    2   26
39784042  tudzz   6264    2   26
39784043  tudzz   6268    2   26
39784044  tudzz   6264    2   26
39784045  tudzz   6268    2   26
39784046  tudzz   6149    2   26
39784047  tudzz   6169    2   26
39784048  tudzz   6149    2   26
39784049  tudzz   6169    2   26
39784050  tudzz   6149    2   26
39784051  tudzz   6268    2   26
39784052  tudzz   6169    2   26
39784053  tudzz   4659    2   26
39784054  tudzz   7840    2   26
39784055  tudzz   6264    2   26
39784056  tudzz   6268    2   26
39784057  tudzz   6264    2   26
39784058  tudzz   6264    2   26
39784059  tudzz   6268    2   26
39784060  tudzz   5210    2   26
39784061  tudzz   5231    2   26
39784062  tudzz   5210    2   26
39784063  tudzz   5210    2   26
39784064  tudzz   5210    2   26
39784065  tudzz    462    2   27
39784066  tudzz   4619    2   27
39784067  tudzz   6264    2   27

[39784068 rows x 4 columns]

In [31]:
patient_counts

     AGE  SEX      N
0      0    1     67
1      0    2   2468
2      1    2      6
3      2    1      2
4      2    2      3
5      3    2      2
6      3    1      2
7      4    1      9
8      4    2     16
9      5    1  11629
10     5    2  10570
11     6    1  22320
12     6    2  20519
13     7    2  19048
14     7    1  20542
15     8    2  19937
16     8    1  21255
17     9    2  21220
18     9    1  22874
19    10    1  22682
20    10    2  20862
21    11    2  20182
22    11    1  21749
23    12    1  21561
24    12    2  19901
25    13    2  19402
26    13    1  20840
27    14    1  19828
28    14    2  18898
29    15    1  20185
..   ...  ...    ...
167   84    2   3403
168   84    1   3265
169   85    2   2909
170   85    1   2650
171   86    1   1998
172   86    2   2222
173   87    2   1806
174   87    1   1587
175   88    1   1244
176   88    2   1529
177   89    1    969
178   89    2   1236
179   90    1    726
180   90    2    947
181   91    2    802
182   91    1    557
183   92    1    434
184   92    2    641
185   93    2    502
186   93    1    338
187   94    1    150
188   94    2    206
189   95    2      7
190   95    1      2
191   96    2      3
192   96    1      2
193   97    2      2
194   98    2      2
195   98    1      1
196   99    1      1

[197 rows x 3 columns]

In [52]:
icd_codes

        ICD     N
0         1   292
1        10   522
2       100     8
3      1000    63
4      1001     6
5      1002     3
6      1003     5
7      1004     1
8      1005     1
9     10089     1
10     1009   126
11      101    27
12     1010     5
13     1011     3
14     1012     1
15     1014     1
16     1021     3
17     1022    62
18     1023   148
19     1024     2
20     1026    13
21     1029    23
22     1030     1
23     1040     3
24     1048    94
25     1049    15
26     1080    14
27     1081     3
28     1083     5
29     1086     2
...     ...   ...
9756    998   134
9757   9980    12
9758   9981     5
9759  99811    78
9760  99812    47
9761  99813    15
9762   9982   378
9763   9983   225
9764   9984    18
9765   9985   244
9766  99851   448
9767  99859  1158
9768   9986    16
9769   9987     2
9770   9988     3
9771  99881     3
9772  99883    57
9773  99889    33
9774   9989   102
9775    999   425
9776   9990     1
9777   9991     1
9778   9992     7
9779   9993    68
9780   9994     2
9781   9995     1
9782   9996     1
9783   9997     2
9784   9998    10
9785   9999   133

[9786 rows x 2 columns]

In [53]:
def pairwise_covariance(icd1, icd2, sex, age_l, age_h):
    global patients
    pid_x = set(patients[(patients.ICD == icd1) & (patients.SEX == sex) & 
                       (patients.AGE >= age_l) & (patients.AGE < age_h)].PID)
    pid_y = set(patients[(patients.ICD == icd2) & (patients.SEX == sex) & 
                       (patients.AGE >= age_l) & (patients.AGE < age_h)].PID)
    pid_xy = pid_x & pid_y
    
    k_x = len(pid_x)
    k_y = len(pid_y)
    k_xy = len(pid_xy)
    
    global patient_counts
    n = patient_counts[(patient_counts.SEX == sex) & (patient_counts.AGE >= age_l) & 
                           (patient_counts.AGE < age_h)]['N'].sum()
        
    return (n*k_xy - k_x*k_y) / (n*(n-1))

In [54]:
pairwise_covariance(5243, 7080, 1, 10, 20)

0.00010009807512514478